@media (max-width:540px) {
    body {
        background-image: url(/images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .container {
        width: 90%;
    }
    img {
        width: 100%;
    }
    .order-text {
        width: 85%;
    }
    h3 {
        font-size: 14px;
    }
    .plann img {
        width: 20%;
    }
}