    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        font-family: 'Red Hat Display', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 5%;
    }
    
    .container {
        width: 450px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        box-shadow: -7px -3px 46px -14px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 680px;
        background-color: white;
    }
    
    .container :not(div, button) {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    h2,
    p {
        text-align: center;
    }
    
    h2 {
        font-weight: 900;
        font-size: bold;
    }
    
    .plann {
        display: flex;
        margin-top: 40px;
    }
    
    .first-plann {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
    }
    
    .order-text {
        margin-top: 50px;
        width: 65%;
    }
    
    .first-plann p,
    h3 {
        margin: 0 5px 0 20px;
        text-align: left;
    }
    
    .button {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        flex-basis: 75%;
    }
    
    button {
        margin: 10px;
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: none;
        background-color: hsl(245, 75%, 52%);
        color: white;
        font-weight: 400;
        cursor: pointer;
    }
    
    .frist-btu {
        margin-top: 30px;
    }
    
    .frist-btu:hover {
        background-color: #766cf1;
    }
    
    .second-btu {
        background-color: transparent;
        color: hsla(223, 3%, 39%, 0.973);
    }
    
    a {
        color: hsl(245, 75%, 52%);
        font-weight: bold;
    }
    
    a:hover {
        color: #766cf1;
        text-decoration: none;
    }
    
    .attribution {
        position: absolute;
        bottom: -15%;
        margin-bottom: 10px;
    }